# lib files and directories
SDL2-2.0.9
libft/objects/
libft/libft.a
SDL
guimp

# build files directories
obj
.depends

# temporary file from IDE and TE
.vscode
*.swp

# debug dir
*.dSYM

# editor file
.clang_complete
